body {
    margin: 100px;
    text-align: center;
    background-color: rgba(33, 18, 6, 0.932);
    color: white;
}

h3 {
    color: red;
    outline: white;
}

span {
    color: yellow;
}

p {
    font-size: large;
}