@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@font-face {
    font-family: 'newsreader';
    src: url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
}
@font-face {
    font-family: "perpetua";
    src: url("https://db.onlinewebfonts.com/t/e228cb7a060591d3e95897146a2f2b92.eot");
}

:root {
    --black-bg: #171515;
    --coffee-bg: #FFE2AB;
    --text-white: #ffffff
}

body {
    background: var(--black-bg);
    color: var(--text-white);
    margin: 0px !important;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 20px 0px;
    width: 100%;
    font-family: 'newsreader';
    background-color: var(--black-bg);
    z-index: 5;
}
.nav span {
    cursor: pointer;
    font-size: 11px;
    color: var(--text-white);
}

.nav+.head span{
    font-size: 30px;
    padding: 0px 15px;
}

.cover {
    margin: 120px 10% 10px;
    display: flex;
    flex-direction: row;
}
.cover-text-wrap {
    display: flex;
    flex-direction: column;
    z-index: 5;
}
.cover-text-main {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'perpetua';
    width: 80%;
}
.cover-text-sub {
    margin-top: 10px;
    font-size: 16px;
    width: 40%;
    font-family: 'newsreader';
}
.line {
    height: 1px;
    width: 100%;
    background-color: white;
}
.cover-image-wrap {
    position: relative;
    width: 500px;
    height: 600px;
    z-index: -1;
}
.cover-image-one {
    z-index: -2;

}
.cover-image-two {
    position: relative;
    right: 250px;
    bottom: 100px;
    z-index: -1;
}

/* Story Section */
.story {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 120px 10% 10px;
}

.story-text-wrap {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.story-text-main {
    font-size: 60px;
    text-transform: uppercase;
}
.story-text-sub {
    margin: 20px 20% 0px 0px;
    font-size: 16px;
    font-family: 'newsreader';
    text-align: left;
}

/* Menu */
.menu {
    width: 100% !important;
    background-color: var(--coffee-bg);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--black-bg);
    font-family: 'newsreader';
    padding: 80px 0px;
    margin-top: 100px;
    border: none;
    outline: none;
}
.menu-action{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 50px;
}
.menu-details {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.menu-details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
}
.menu-details-container+.underline {
    border-bottom: 1px solid var(--black-bg);
}
.menu-details-container > .price {
    font-size: 22px;
}
.menu-bottom-img {
    position: relative;
    z-index: 2;
    bottom: 4px;
}
.menu-bottom-img > img{
    width: 100%;
}
.menu-action-text {
    font-size: 32px;
    text-transform: uppercase;
}

.menu-action-btn {
    border: 1px solid var(--black-bg);
    display: flex;
    flex-direction: row;
    padding: 8px 5px;
    color: var(--black-bg);
    width: 200px;
    background: transparent;
    align-items: center;
    justify-content: space-around;
    margin: 45px 0px;
    cursor: pointer;
}
.menu-action-btn > span {
    font-size: 25px;
    font-weight: 500;
    font-family: 'newsreader';
}

/* Barista section */
.barista {
    margin: 80px 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.barista-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
}
.barista-text-main {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'perpetua';
}
.barista-text-sub {
    margin-top: 18px;
    font-size: 16px;
    font-family: 'newsreader';
}
.barista-btn {
    margin-top: 32px;
    font-size: 25px;
    border: 1px solid var(--text-white);
    background: transparent;
    padding: 15px 25px;
    cursor: pointer;
    color: var(--text-white);
}
.barista-image {
    display: flex;
    flex-direction: column;
}
.barista-image > span {
    margin-top: 10px;
    font-family: 'newsreader';
}


/* Barista section */
.review {
    background: var(--coffee-bg);
    padding: 80px 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.review-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    color: var(--black-bg);
}
.review-text-main {
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
}
.review-text-sub {
    margin-top: 18px;
    font-size: 16px;
    font-family: 'newsreader';
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 10%;
    font-family: 'newsreader';
}
.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}
.logo-xl {
    margin: 20px 0px;
    justify-self: center;
}
.footer-info-container {
    display: flex;
    width: 80%;
    margin: 50px 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}
.grid {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    max-width: 200px;
}
.grid .head {
    margin-bottom: 15px;
    font-weight: 900;
}
.grid span {
    margin: 5px 0px;
} 
.grid .underline {
    text-decoration: underline;
    cursor: pointer;
}
.copyright {
    text-align: center;
}